body { font-family: Arial, Helvetica, sans-serif; padding : 15px;}
ul { list-style: circle; }
.heading { font-weight: bold; }
.databaselink{ width : 250px;}
.rowimagecell { text-align:center; vertical-align : top; padding-top: 5px}
.rowicon{ width : 32px; height : 32px;}
.title:hover { cursor: hand; }