USE [master]
GO

/****** Object:  Database [nodejstest]    Script Date: 08/19/2012 00:26:14 ******/
CREATE DATABASE [nodejstest] ON  PRIMARY 
( NAME = N'nodejstest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\nodejstest.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nodejstest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\nodejstest_log.ldf' , SIZE = 15040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nodejstest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [nodejstest]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 08/19/2012 00:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Genre] [nchar](10) NOT NULL,
	[Price] [money] NOT NULL,
	[Rating] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
