@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Movie List";
}

<h2>Chat Client</h2>

<textarea id="messagebox" cols="40" rows="5"></textarea>
		<button id="send" onclick="sendMessage()">Send</button>
		<div id="chat"></div>