@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Chat Client";
}



	<textarea id="messagebox" cols="40" rows="5"></textarea>
		<button id="send" onclick="sendMessage()">Send</button>
		<div id="chat"></div>
